GRAPHQL_ENDPOINT="https://frux-app-server.herokuapp.com/graphql"

FIREBASE_APIKEY="" // https://docs.expo.io/guides/using-firebase/
FIREBASE_AUTHDOMAIN="" // https://docs.expo.io/guides/using-firebase/
FIREBASE_PROJECTID="" // https://docs.expo.io/guides/using-firebase/
FIREBASE_STORAGEBUCKET="" // https://docs.expo.io/guides/using-firebase/
FIREBASE_MESSAGINGSENDERID="" // https://docs.expo.io/guides/using-firebase/
FIREBASE_APPID="" // https://docs.expo.io/guides/using-firebase/

GOOGLE_APIKEY="" // https://docs.expo.io/versions/latest/sdk/map-view/#deploying-google-maps-to-an-android-standalone

GITHUB_CLIENT_ID="" // https://github.com/settings/applications/new
GITHUB_CLIENT_SECRET="" // https://github.com/settings/applications/new
