name: Expo Build
on:
  push:
    branches:
      - main
jobs:
  publish:
    name: Install and build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - uses: expo/expo-github-action@v6
        with:
          expo-version: 4.4.3
          token: ${{ secrets.EXPO_TOKEN }}
      - run: npm install
      - run: expo build:android -t apk
        env:
          FIREBASE_APIKEY: ${{secrets.FIREBASE_APIKEY}}
          FIREBASE_AUTHDOMAIN: ${{secrets.FIREBASE_AUTHDOMAIN}}
          FIREBASE_PROJECTID: ${{secrets.FIREBASE_PROJECTID}}
          FIREBASE_STORAGEBUCKET: ${{secrets.FIREBASE_STORAGEBUCKET}}
          FIREBASE_MESSAGINGSENDERID: ${{secrets.FIREBASE_MESSAGINGSENDERID}}
          FIREBASE_APPID: ${{secrets.FIREBASE_APPID}}
          GRAPHQL_ENDPOINT: ${{secrets.GRAPHQL_ENDPOINT}}
          GOOGLE_APIKEY: ${{secrets.GOOGLE_APIKEY}}
          OAUTH_CLIENT_ID: ${{secrets.OAUTH_CLIENT_ID}}
          OAUTH_CLIENT_SECRET: ${{secrets.OAUTH_CLIENT_SECRET}}
